# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# Static files
staticfiles/

# Media files
media/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/